@font-face {
    font-family: 'Kumbh-Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
}
*{
    font-family: Kumbh-Sans, sans-serif;
}
.translate-x-100{
    transform: translateX(-100%);
}
.translate-x-50{
    transform: translateX(-50%);
}
.indicador{
    top: -0.5rem;
    right: -0.5rem;
}
#cartcontainer{
    top: 3.5rem;
    z-index: 1;
}
#navbar{
    z-index: 2;
}
@media (width > 768px) {
    #navbar ul li:hover{
        color: #000;
        position: relative;
    }
    #navbar ul li:hover::before{
        content: '';
        position: absolute;
        top: 3.5rem;
        width: 100%;
        height: .4rem;
        background-color: #ea580c;
        border-radius: 1rem;
    }
}